.pay-backwrap.hidden-xs-up
.paywindow.hidden-xs-up
  = button_tag(class: 'close js-closepay-btn', :'aria-label' => 'Close') do
    %span{:'aria-hidden' => 'true'} &times;
.container.nav-margin
  = form_tag('https://money.yandex.ru/quickpay/confirm.xml', method: :POST) do
    = hidden_field_tag(:receiver, YANDEX_WALLET)
    = hidden_field_tag(:formcomment, pay_title)
    = hidden_field_tag(:'short-dest', pay_title)
    = hidden_field_tag(:'quickpay-form', :shop)
    = hidden_field_tag(:targets, :wot)
    = hidden_field_tag(:sum, price)
    .row
      .col-sm-6.justify-content-center
        .form-group
          = email_field_tag(nil, nil, class: 'form-control', placeholder: 'Email')
        .form-group
          .row.justify-content-between
            .col-lg
              .payway
                = radio_button_tag(:paymentType, :QIWI, false)
                = label_tag(:paymentType_QIWI, image_tag('qiwi_wallet.png', class: 'payform_payicon_miner'))
            .col-lg
              .payway
                = radio_button_tag(:paymentType, :PC, false)
                = label_tag(:paymentType_PC, image_tag('YandexMoney.jpg', class: 'payform_payicon_miner'))
            .col-lg
              .payway
                = radio_button_tag(:paymentType, :AC, false)
                = label_tag(:paymentType_AC, image_tag('visa_mastercard_logo.png', class: 'payform_payicon'))
        .row.justify-content-center
          .col
            .form-group
            = submit_tag(I18n.t('buy'), class: 'form-control btn btn-outline-primary js-buy-btn')
