.container.nav-margin
  = form_for(model, url: product_orders_path, method: :post) do |f|
    = f.hidden_field :product_id
    .form-group
      = f.label_tag :amount, "#{I18n.t('product.amount')} #{I18n.t('product.gram')}:"
      = f.number_field :amount, min: 1, max: 10, step: 1, required: true, placeholder: I18n.t('one_ten'), autoselect: true, class: 'form__placeholder form-control'
    .form-group
      = f.label_tag :region, I18n.t('form.region.label')
      = city_region_tag(f)
    .form-group
      = f.label_tag :email, I18n.t('form.email.label')
      = f.email_field :email, required: true, placeholder: I18n.t('form.email.placeholder'), class: 'form__placeholder form-control'
      = show_simple_captcha(placeholder: 'Введите капчу', label: :'', input_html: {class: 'form__placeholder form-control'})
    .form-group
      = f.submit_tag I18n.t('form.buy'), class: 'form-control btn btn-outline-success'
