.pay-backwrap.hidden-xs-up
.paywindow.hidden-xs-up
  .row
    .col
      %p
        = I18n.t('pay.qiwi')
  .row
    .col
      %p
        = I18n.t('pay.sum') + ':'
    .col
      %p
        = price
  .row
    .col
      %p
        = I18n.t('pay.wallet') + ':'
    .col
      %p
        = YANDEX_WALLET
  .row
    .col
      %p
        = I18n.t('pay.label') + ':'
    .col
      %p
        = qiwi_label
  .row
    .col
      %p
        Отправьте платеж за указанными реквизитами, обязательно вставьте указанное примичание к платежу. Посте чего нажмите кнопку 'Я оплатил'. Если данные были указанны верно то вам на почту прийдет письмо данными от аккаунта.
  .row
    .col
      = button_tag(class: 'btn btn-outline-primary js-qiwi-pay') do
        Я оплатил
  = button_tag(class: 'close closebtn js-closepay-btn', :'aria-label' => 'Close') do
    %span{:'aria-hidden' => 'true'} &times;
.container
  = form_tag('https://money.yandex.ru/quickpay/confirm.xml', method: :POST) do
    = hidden_field_tag(:receiver, YANDEX_WALLET)
    = hidden_field_tag(:formcomment, pay_title)
    = hidden_field_tag(:'short-dest', pay_title)
    = hidden_field_tag(:'quickpay-form', :shop)
    = hidden_field_tag(:targets, :wot)
    = hidden_field_tag(:sum, price)
    .row
      .col-sm-6
        .thumbslider__wrapper
          .thumbslider__mainimgwrapper
            = image_tag(main_image.url, class: 'thumbslider__mainslide', id: 'zoom_01', 'data-zoom-image': main_image.url)
          .thumbslider__thhumbs.row.justify-content-center
            - product_images.each do |image|
              .col-3.thumbslider__thumcontainer
                = image_tag(image.url, class: 'thumbslider__thumbitem')
      .col-sm-6.justify-content-center
        %h3.text-center
          = title
        .row
          .col
            %h1
              = price.to_s
              %span.product__currency
                = I18n.t('pay.rub')
        .row
          .col
            %h5
              Категория
          .col
            %h5
              = category.name
        .row
          .col
            %h5
              = I18n.t('pay.product_code') + ':'
          .col
            %h5
              = product_code
        .collapse#pay_fields
          .form-group
            = email_field_tag(nil, nil, class: 'form-control js-pay-email', placeholder: 'Email', required: true)
          .form-group
            .row.justify-content-between
              .col-lg
                .payway
                  = radio_button_tag(:paymentType, :QIWI, false)
                  = label_tag(:paymentType_QIWI, image_tag('qiwi_wallet.png', class: 'payform_payicon_miner'))
              .col-lg
                .payway
                  = radio_button_tag(:paymentType, :PC, false)
                  = label_tag(:paymentType_PC, image_tag('YandexMoney.jpg', class: 'payform_payicon_miner'))
              .col-lg
                .payway
                  = radio_button_tag(:paymentType, :AC, true)
                  = label_tag(:paymentType_AC, image_tag('visa_mastercard_logo.png', class: 'payform_payicon'))
        .row.justify-content-center
          .col
            .form-group
            = submit_tag(I18n.t('buy'), class: 'form-control btn btn-outline-primary js-buy-btn', 'data-toggle': :collapse, 'data-target': '#pay_fields')
  .row
    .col
      %br
      %h5.text-center
        Описание товара
      %hr.product_descriptionline
        = raw(desc)
