%h3{style: 'text-align: center;'}
  Приветствуем в нашем магазине!
%p
  = "Ваш заказ №#{@model.id}"
  на
  %b
    = @model.amount.to_i
    = @model.porthion_type
    = @model.title
  = "в #{@model.region_str} район,"
  город Львов.
  Для получения заказа вам нужно произвести оплату и отправить подтверждение к
  %b
    = (Time.current + 1.hour).strftime('%F %H:%M')
  (к одному часу с момента заказа) следующим способом:
  %br
  %h4
    Перевод 0.00850347 BTC (10.00$) на наш счет Bitcoin: 'xxxxxxxxxxxx'
    %br
    Видео инструкция: https://www.youtube.com/watch?v=qQ4Y7ZlzQ6A
    %br
    После оплаты в ответ на этот email пришлите данные с подтверждением оплаты(чек или скриншот)
    где видно сумму, время и дату.
